<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Тестовое задание для EastWoodLab</a>
    </div>
{% load common_tags %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% navactive request 'employees:employee:list' %}"><a href="{% url 'employees:employee:list' %}">Список сотрудников
        </a></li>
        <li class="{% navactive request 'employees:department:list' %}"><a href="{% url 'employees:department:list' %}">Список отделов
        </a></li>
        <li class="{% navactive request 'employees:employee:alphabet' %}"><a href="{% url 'employees:employee:alphabet' %}">Алфавитный список
        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>